In [1]:
import pandas as pd
import glob
import re

In [2]:
# Read CSV files and concatenate to a single dataframe
l = [pd.read_csv(filename) for filename in glob.glob("../rawData/*.csv")]
all_df = pd.concat(l, axis=0, sort=False)

In [3]:
len(all_df)

648820

In [4]:
all_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [5]:
all_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [31]:
# Get rides that are longer than 2 minutes (120 seconds)
all_df = all_df[all_df['tripduration'] > 120]

In [8]:
len(all_df)

626362

In [9]:
all_df['genderstr'] = ''

In [10]:
# df.loc[df.ID == 103, 'FirstName'] = "Matt"
all_df.loc[all_df.gender == 0, 'genderstr'] = "unknown"
all_df.loc[all_df.gender == 1, 'genderstr'] = "male"
all_df.loc[all_df.gender == 2, 'genderstr'] = "female"

In [11]:
# all_df.genderstr

In [12]:
# Write out all_df
all_df.to_csv('../data/all_bike.csv', index=False)

Get the 2016 records

In [77]:
# Read 2016 CSV files and concatenate to a single dataframe
l = [pd.read_csv(filename) for filename in glob.glob("../rawData/2016/*.csv")]
df_2016 = pd.concat(l, axis=0, sort=False)

In [78]:
# Check types and column names
df_2016.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [79]:
len(df_2016)

13845655

In [80]:
df_2016 = df_2016[df_2016['tripduration'] > 300]

In [88]:
df_2016 = df_2016[df_2016['tripduration'] < 2400]

In [82]:
df_2016 = df_2016[df_2016['gender'] !=0]

In [89]:
len(df_2016)

9915072

date fields appear to move from mm/dd/yyyy to yyyy-mm-dd october.  This causes null values in data.  need to convert to tableau happy mm/dd/yyyy? starttime, stoptime

In [90]:
startcol = df_2016['starttime']

In [91]:
startNewDate = []
for sdate in startcol:
    x = re.split("-", sdate)
    if (len(x) > 1):
        # set it up as mm/dd/yyyy time
        YYYY = x[0]
        MM = x[1]
        DD_TIME = x[2]
        # Split day_time on space
        dd, dtime = DD_TIME.split()
        # print(f"{YYYY}, {MM}, {dd}, {dtime}")
        startString = f"{MM}/{dd}/{YYYY} {dtime}"
        #print(startString)
        startNewDate.append(startString)
    else:
        startNewDate.append(sdate)

In [92]:
df_2016['starttime'] = startNewDate

In [93]:
stopcol = df_2016['stoptime']

In [94]:
stopNewDate = []
for sdate in stopcol:
    x = re.split("-", sdate)
    if (len(x) > 1):
        # set it up as mm/dd/yyyy time
        YYYY = x[0]
        MM = x[1]
        DD_TIME = x[2]
        # Split day_time on space
        dd, dtime = DD_TIME.split()
        # print(f"{YYYY}, {MM}, {dd}, {dtime}")
        stopString = f"{MM}/{dd}/{YYYY} {dtime}"
        #print(startString)
        stopNewDate.append(startString)
    else:
        stopNewDate.append(sdate)

In [95]:
df_2016['stoptime'] = stopNewDate

In [96]:
df_2016['genderstr'] = ''

In [97]:
# Get text values for gender
df_2016.loc[df_2016.gender == 0, 'genderstr'] = "unknown"
df_2016.loc[df_2016.gender == 1, 'genderstr'] = "male"
df_2016.loc[df_2016.gender == 2, 'genderstr'] = "female"

In [98]:
# Remove records for people over 100yrs old?

In [99]:
len(df_2016)

9915072

In [100]:
# Write out 2016 dataframe
df_2016.to_csv('../data/2016_bike.csv', index=False)