In [1]:
import pandas as pd
import glob
import re
import numpy as np

Get the 2016 records

In [2]:
# Read 2016 CSV files and concatenate to a single dataframe
l = [pd.read_csv(filename) for filename in glob.glob("../rawData/2016/*.csv")]
df_2016 = pd.concat(l, axis=0, sort=False)

In [3]:
# Check types and column names
df_2016.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                 float64
gender                       int64
dtype: object

In [4]:
len(df_2016)

13845655

In [5]:
df_2016 = df_2016[df_2016['tripduration'] > 60]

In [6]:
df_2016 = df_2016[df_2016['tripduration'] < 300]

In [7]:
df_2016 = df_2016[df_2016['gender'] !=0]

In [8]:
len(df_2016)

2100895

date fields appear to move from mm/dd/yyyy to yyyy-mm-dd october.  This causes null values in data.  need to convert to tableau happy mm/dd/yyyy? starttime, stoptime

In [9]:
# startcol = df_2016['starttime']

In [10]:
# startNewDate = []
# for sdate in startcol:
#     x = re.split("-", sdate)
#     if (len(x) > 1):
#         # set it up as mm/dd/yyyy time
#         YYYY = x[0]
#         MM = x[1]
#         DD_TIME = x[2]
#         # Split day_time on space
#         dd, dtime = DD_TIME.split()
#         # print(f"{YYYY}, {MM}, {dd}, {dtime}")
#         startString = f"{MM}/{dd}/{YYYY} {dtime}"
#         #print(startString)
#         startNewDate.append(startString)
#     else:
#         #- its good, go ahead and append.
#         startNewDate.append(sdate)

In [11]:
# df_2016['starttime'] = startNewDate

In [12]:
# stopcol = df_2016['stoptime']

In [13]:
# stopNewDate = []
# for sdate in stopcol:
#     x = re.split("-", sdate)
#     if (len(x) > 1):
#         # set it up as mm/dd/yyyy time
#         YYYY = x[0]
#         MM = x[1]
#         DD_TIME = x[2]
#         # Split day_time on space
#         dd, dtime = DD_TIME.split()
#         # print(f"{YYYY}, {MM}, {dd}, {dtime}")
#         stopString = f"{MM}/{dd}/{YYYY} {dtime}"
#         #print(startString)
#         stopNewDate.append(startString)
#     else:
#         stopNewDate.append(sdate)

In [14]:
# df_2016['stoptime'] = stopNewDate

In [15]:
# Calculate age

current_yr = pd.datetime.now().year
age = []
for byear in df_2016['birth year']:
    _age = current_yr - byear
    # print(_age)
    age.append(_age)
    
df_2016['age'] = age

In [16]:
# Bin by age
# bins = [0, 1, 5, 10, 25, 50, 100]
# labels = [1,2,3,4,5,6]
# df['binned'] = pd.cut(df['percentage'], bins=bins, labels=labels)

bins = [0, 25, 35, 45, 55, 65, 75, 85, 95, 200]
labels = ['0-25', '26-35', '36-45', '46-55', '56-65', '66-75', '76-85', '86-95', np.inf]
df_2016["bin_age"] = pd.cut(df_2016['age'], bins=bins, labels=labels)

In [17]:
df_2016['genderstr'] = ''

In [18]:
# Get text values for gender
df_2016.loc[df_2016.gender == 0, 'genderstr'] = "unknown" #- these values (0) were dropped above
df_2016.loc[df_2016.gender == 1, 'genderstr'] = "male"
df_2016.loc[df_2016.gender == 2, 'genderstr'] = "female"

In [ ]:
len(df_2016)

In [19]:
df_2016['starttime'] = df_2016['starttime'].astype()

2100895

In [ ]:
astype('datetime64[ns]')

In [20]:
# Write out 2016 dataframe
df_2016.to_csv('../data/bike_300OrLess.csv', index=False, date_format='%Y%m%d')

In [21]:
len(df_2016)

2100895